/* light pink: #F2B6CC
   dark pink: #F2506E
   light red: #F26B6B
   dark red: #BF1515
  background grey: #F2F2F2
  dark blue: #5A668C
*/


*, *::before, *::after{
          box-sizing: border-box;
}
#root{
  position: relative;
  min-height: 100vh;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* font-family: 'Tajawal', sans-serif; */

body {
  background-color: #F2F2F2;
  direction: rtl;
  font-family: 'Tajawal', sans-serif;
  font-weight: medium;
}



/* styling the header: */
.header {

  background-color: white;
  width: 100%;
  height: 60px;
  box-shadow: 0 5px 4px -4px grey;
}

.header-items {
  display: flex;
  background-color: white;
  height: 60px;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 0 auto;
}


.header-items__search{
  width: 140px;
  height: 35px;
  border: solid 2px #F2506E;
  border-radius: 5px;
}

.header-items__search::placeholder {
  font-size: 1rem;
  text-align: center;
}


/* style the navbar: */

a {
  text-decoration: none;
}

.navbar a {
  color: #F2506E;
  font-weight: bolder;
  font-size: 1.125rem;
}


.nav-item {
  width: auto;
  height: 100%;
  padding: 5px;
  transition: all 100ms;
}

.nav-item:hover{
  border-bottom: 3px solid #F2506E;
}

.nav-item + .nav-item {
  margin-right: 30px;
}

.nav-item__link {
  cursor: pointer;
}

.nav-item__link:hover {
  filter: brightness(1.2);
}

.dropdown {
  position: absolute;
  top: 71px;
  width:200px;
  transform: translateX(76%);
  background-color: #F2506E;
  border-radius: 5px;
  padding: 1em;
  overflow: hidden;
  transition: height 500ms ease;
}

.dropdown a{
  color: white;
}

.dropdown-item {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  transition: background 500ms;
  padding: 0.5rem;
}

.dropdown-item:hover{
  background-color: rgb(248, 114, 138);
}

/* style the logo */

.miniLogo img {
  height: 45px;
  cursor: pointer;
}
.bigLogo img {
  height: 51px;
  cursor: pointer;
}

/* all media q */

@media (min-width: 869px){
  .menu-icon {
    display:none;
  }
  .miniLogo {
    display: none;
  }
}

@media (max-width: 869px){
  .nav-item {
    display:none;
  }
  .bigLogo {
    display: none;
  }
}

/* style the buttons */
.primary-button{
  color: white;
  background-color: #BF1515;
}

.primary-button a {
  color: white;
  font-weight: bold;
}

.secondary-button{
  color: #BF1515;
  border: 2px solid #BF1515;
}

.secondary-button a {
  color: #BF1515;
  font-weight: bold;
}
/* csstransition */


/* give a margin to the Link component in box */
.boxLink + .boxLink {
  margin-right: 1em;
}

.boxInShowsList{
  margin-left: .75em;
  margin-right: .75em;
  margin-bottom: 1.5em;
}

.no-items-style {
  text-align: center;
  color: #5A668C;
}


/*  rooms fitler*/
.filter-container {
  padding: 3em;
}
.filter-form {
  width: 60%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-content: center;
}

.form-group {
  font-size: 1.125rem;
  text-align: center;

}

.form-group + .form-group {
  margin-right: 3em;
}



.form-group label {
  display: block;
  margin-bottom: .5em;
  background-color: #BF1515;
  color: white;
  width: 150px;
  padding: .5em 0;
  border-radius: 5px;
  box-shadow: 0 1px 2px grey;
}
.form-control {
  width: 100%;
  background: white;
  font-size: 1.125rem;
  font-family: 'Tajawal', sans-serif;
  font-weight: bold;
  padding: .25em 0;
  color: #BF1515;
  border-radius: 5px;
  box-shadow: 0 1px 2px grey;
}

@media (max-width: 592px) {
  .filter-form {
    width: 100%;
    flex-direction: column;
  }
  .form-group label {
      display: none;
  }
  .form-group + .form-group {
    margin-right: 0em;
    margin-top: 0.3em;
  }
}
/* end of shows fitler*/

/* style singleShowPage */

/* style seasons container */
.seasons-style {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  
}
.singleSeason-style {
  padding: .5em;
  background-color: #5A668C;
  color: white;
  border-radius: 5px;
  box-shadow: 0 2px 4px grey;
  cursor: pointer;
}
.singleSeason-style + .singleSeason-style {
  margin-right: .5em;
}
.singleSeason-style_active {
  padding: .5em;
  background-color: white;
  color: #5A668C;
  border-radius: 5px;
  box-shadow: 0 2px 4px grey;
  cursor: pointer;
  border: 2px solid #5A668C;
  margin: 0 .5em;
  font-weight: bold;
}

@media (max-width: 592px) {
  .singleSeason-style, .singleSeason-style_active{
    font-size: .7rem;
    margin-bottom: .7em;
  }
}

/* style singleShow hero */

.singleShow-page {
  margin-top: 2em;
}

.singleShow-hero {
  display: flex;
  justify-content: center;
  margin-bottom: 2em;
}

.singleShow-img {
  width: 175px;
  height: 125px;
  border-radius: 5px;
  box-shadow: 0 2px 4px grey;
}

.singleShow-description {
  width: 100%;
  max-width: 725px;
  min-height: 125px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 2px 4px grey;
  margin-right: 2em;
}

@media (max-width: 592px) {
  .singleShow-img {
    width: 100px;
    height: 100px;
    flex-shrink: 0;
  }

  .singleShow-description {
  min-height: 100px;
  }
}

/* style Episode component */
.singleShow-EpisodesContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 85%;
  margin: 2em auto;
}



.episode-style{
  width: 170px;
  height: auto;
  margin: 1.5em;
  background-color: white;
  box-shadow: 0 2px 4px grey;
  border-radius: 5px;
  transition: all 200ms linear;
  background-color: #5A668C;
}

@media (max-width: 482px) {
  .singleShow-EpisodesContainer {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }

  .episode-style {
    width: 150px;
    margin-left: .1em;
    margin-right: .1em;
  }

}

.episode-style:hover  .episode-style_button {
  transform: scale(1.2);
  filter: brightness(1.2);
}

.episode-style_image {
  width: 100%;
  height: 100px;
}

.episode-style_info {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    background-color: #5A668C;
    position: relative;
    padding-bottom: 3em;
    min-height: 150px;
  }

  .episode-style_names {
    color: white;
    margin:.5em .7em 0 .7em ;
    font-weight: bold;
    text-align: center;
    height: auto;
    padding-bottom: .5em;
  }

    /* .episode-style_seasonName {
      font-size: 10px;
      margin-bottom: .25em;

    }
    .episode-style_episodeName {
      font-weight: bold;
    } */

  .episode-style_button {
    align-self: flex-end;
    margin-top: .3em;
    position: absolute;
    bottom: 1em;
    left: 3em;
  }
  .episode-style_button button {
    border: none;
    font-size: 1rem;
    font-weight: bold;
    background-color: #f20c1f;
    color: white;
    padding: .5em 1em;
    box-shadow: 0 2px 4px grey;
    border-radius: 5px;
    cursor: pointer;
  }


  /* stream page styles */

  .videoPlayer{
    width: 80vw;
    height: 60vh;
    margin: 1em auto;
  }


  /* CSSTransition */
  /* Box enter */
.fade-enter {
  opacity: 0;
  transform: scale(0.95);
}
.fade-enter.fade-enter-active {
    opacity: 1;
    transform: scale(1);
    transition: all 150ms linear;
}

/* Box exit */
.fade-exit {
    opacity: 1;
    transform: scale(1);
}
.fade-exit.fade-exit-active {
    opacity: 0;
    transform: scale(0.95);
    transition: all 150ms linear
}
.fade-exit-done {
  opacity: 0;
}

/* item enter */
.itemTransition-enter {
  opacity: 0;
  transform: scale(0.99);
}
.itemTransition-enter.fade-enter-active {
    opacity: 1;
    transform: scale(1);
    transition: all 150ms linear;
}

/* item exit */
.itemTransition-exit {
    opacity: 1;
    transform: scale(1);
}
.itemTransition-exit.fade-exit-active {
    opacity: 0;
    transform: scale(0.99);
    transition: all 50ms linear
}
.itemTransition-exit-done {
  opacity: 0;
}


  /* light pink: #F2B6CC
   dark pink: #F2506E
   light red: #F26B6B
   dark red: #BF1515
  background grey: #F2F2F2
  dark blue: #5A668C
*/