/* light pink: #F2B6CC
   dark pink: #F2506E
   light red: #F26B6B
   dark red: #BF1515
  background grey: #F2F2F2
  dark blue: #5A668C
*/


*, *::before, *::after{
          box-sizing: border-box;
}

/* font-family: 'Tajawal', sans-serif; */

body {
  background-color: #F2F2F2;
  direction: rtl;
  font-family: 'Tajawal', sans-serif;
  font-weight: medium;
}



/* styling the navbar: */
.navbar {

  background-color: white;
  width: 100%;
  height: 60px;
}

.navbar-items {
  display: flex;
  background-color: white;
  height: 60px;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 0 auto;
}

.navbar-items__logo{
  background-color: #F2506E;
  width: 40px;
  height: 35px;
  border-radius: 5px;
}

.navbar-items__search{
  width: 140px;
  height: 35px;
  border: solid 2px #F2506E;
  border-radius: 5px;
}

.navbar-items__search::placeholder {
  font-size: 1rem;
  text-align: center;
}

.primary-button{
  color: white;
  background-color: #BF1515;
}

.secondary-button{
  color: #BF1515;
  border: 2px solid #BF1515;
}
